{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs" data-aos="fade-up" data-aos-delay="300">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <ol>
        <li><a href="{% url 'landingpage' %}">Kampoeng Cyber Yogyakarta</a></li>
        <li>Edit Halaman</li>
      </ol>
    </div>
  </div>
</section><!-- End Breadcrumbs Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact align-items-center">
      <div class="container" data-aos="fade-up">
          <div class=" col-md-8 mx-auto">
             <form method="post" role="form" class="php-email-form">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{% url 'carousel-edit' pk=3 %}">Edit foto carousel</a></li>
                <li class="list-group-item"><a href="{% url 'about-edit' pk=2 %}">Edit profile</a></li>
                <li class="list-group-item"><a href="{% url 'history-edit' pk=1 %}">Edit Sejarah</a></li>
                <li class="list-group-item"><a href="{% url 'news-add' %}">Tambah Berita</a></li>
                <li class="list-group-item"><a href="{% url 'gallery-add' %}">Tambah Kegiatan</a></li>
              </ul>
            </form>
          </div>
      </div>
    </section><!-- End Contact Section -->
{% endblock content %}

