{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs" data-aos="fade-up" data-aos-delay="300">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <ol>
        <li><a href="{% url 'landingpage' %}">Kampoeng Cyber Yogyakarta</a></li>
        <li>Edit Sejarah</li>
        <li></li>
      </ol>
    </div>
  </div>
</section><!-- End Breadcrumbs Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact align-items-center">
      <div class="container" data-aos="fade-up">
          <div class=" col-md-8 mx-auto">
             <form method="post" role="form" class="php-email-form" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.media }}
              <div class=" form-group">
                {{ form.article }}
              </div>
              <div class="text-center"><button type="submit" class="btn btn-primary">Save</button></div>
            </form>
          </div>
      </div>
    </section><!-- End Contact Section -->

{% endblock content %}