{% extends "home/base.html" %}
{% load static %}
{% block content %}
<main id="main">  


<!-- carousel -->
  <section id="carousel" class="align-items-center" data-aos="fade-up" data-aos-delay="150">
    <div class="carousel slide container position-relative" id="main-carousel" data-ride="carousel" data-aos-delay="500">
      <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
        <li data-target="#main-carousel" data-slide-to="3"></li>
      </ol><!-- /.carousel-indicators -->
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          {% for image in carousel %}
          <img class="d-block img-fluid" src="{{ image.image1.url}}" alt="">
          <div class="carousel-caption d-none d-md-block">
            <p style='text-shadow: 2px 2px #191414;'> {{image.caption_image_1}}</p>
          {% endfor %}
          </div>
        </div>
        <div class="carousel-item">
          {% for image in carousel %}
          <img class="d-block img-fluid" src="{{ image.image2.url}}" alt="">
          <div class="carousel-caption d-none d-md-block">
            <p style='text-shadow: 2px 2px #191414;'>{{image.caption_image_2}}</p>
          {% endfor %}
          </div>
        </div>
        <div class="carousel-item">
          {% for image in carousel %}
          <img class="d-block img-fluid" src="{{ image.image3.url}}" alt="">
          <div class="carousel-caption d-none d-md-block">
            <p style='text-shadow: 2px 2px #191414;'>{{image.caption_image_3}}</p>
          {% endfor %}
          </div>
        </div>
        <div class="carousel-item">
          {% for image in carousel %}
          <img class="d-block img-fluid" src="{{ image.image4.url}}" alt="">
          <div class="carousel-caption d-none d-md-block">
            <p style='text-shadow: 2px 2px #191414;'>{{image.caption_image_4}}</p>
          {% endfor %}
          </div>
        </div>
      </div><!-- /.carousel-inner -->
      
      <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only" aria-hidden="true">Prev</span>
      </a>
      <a href="#main-carousel" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only" aria-hidden="true">Next</span>
      </a>
    </div><!-- /.carousel -->
  </div><!-- /.container -->
</section>

<main id="main">

  <!-- ======= Portfolio Section ======= -->
  <section id="galeri" class="portfolio" data-aos="fade-up" data-aos-delay="150">
    <div class="container">

      <div class="section-title">
        <h2><a href="{% url 'gallery' %}" class="details-link" title="More Details">Kegiatan Kami</a></h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
       {% for post in gallery %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="{{ post.image.url }}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <a href="{{ post.get_absolute_url }}"><p>{{post.title}}</p></a>
            <a href="{{ post.image.url }}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-zoom-in"></i></a>
            <a href="{{ post.get_absolute_url }}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact" data-aos="fade-up" data-aos-delay="150">
      <div class="container">

        <div class="section-title">
          <h2>Hubungi Kami</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Alamat Kami</h3>
              <p>Taman KT I/434, Patehan, Kecamatan Kraton, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55133, Indonesia</p>
            </div>
          </div>


          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Kami</h3>
               <a href="mailto:warga@kampoengcyber.id"><p>warga@kampoengcyber.id</p></a><br>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Hubungi Kami</h3>
              <a href='https://api.whatsapp.com/send/?phone=%2B6281328792405&text&app_absent=0'><p>+62 813-2879-2405</p></a><br>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.8151974853135!2d110.35638971455366!3d-7.809378679699164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5793d807e539%3A0xff9726502ddeee47!2sKampoeng%20Cyber%20Yogyakarta!5e0!3m2!1sen!2sus!4v1608731248953!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 460px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">

             <form method="post" role="form" class="php-email-form">
              <h4>Contact Form</h4>
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  {{ form.name }}
                </div>
                <div class="col-md-6 form-group">
                  {{ form.email }}
                </div>
              </div>
              <div class="form-group">
                  {{ form.subject }}
              </div>
              <div class="form-group">
                {{ form.message }}
              </div>
              <div class="text-center"><button type="submit" class="btn btn-primary">Kirim Pesan</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section --> 

{% endblock %}
