{% extends "home/base.html" %}
{% load static %}



{% block title %}Kampoeng Cyber Yogyakarta | Kegiatan - {{ gallery_detail.title }} {% endblock %}


{% block content %}
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs" data-aos="fade-up" data-aos-delay="300">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'landingpage' %}">Kampoeng Cyber Yogyakarta</a></li>
            <li><a href="{% url 'gallery' %}">Kegiatan</a></li>
            <li>{{ gallery_detail.title }}</li> 
          </ol>
          {% if user.is_authenticated %}
          <ol>
            <li><a href="{% url 'gallery-edit' slug=gallery_detail.slug %}">Edit kegiatan</a></li>
            <li><a href="{% url 'gallery-delete' slug=gallery_detail.slug %}">Hapus kegiatan</a></li>
          </ol>
          {% endif %}          
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->


<!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" data-aos="fade-up">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="owl-carousel portfolio-details-carousel">
              <img src="{{ gallery_detail.image.url }}" class="img-fluid" alt="">
            </div>
            <br>
          </div>
          <div class="col-lg-4">
            <p>{{gallery_detail.caption}}</p> 
            <small>Diposting pada: {{gallery_detail.date_posted|date:"M d, Y"}}</small><br />
            <small>Terakhir update: {{gallery_detail.last_updated|date:"M d, Y"}}</small><br /><br />
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

{% endblock content %}
 
