{% extends "home/base.html" %}
{% load static %}
{% load imagefit %}

{% block title %}Kampoeng Cyber Yogyakarta | Publikasi - {{ detail.title }}{% endblock %}


{% block content %}
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs" data-aos="fade-up" data-aos-delay="300">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'landingpage' %}">Kampoeng Cyber Yogyakarta</a></li>
            <li><a href="{% url 'publication' %}">Publikasi</a></li>
            <li>{{ detail.title }}</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page align-items-center" data-aos="fade-up" data-aos-delay="300">
      <div class="container col-md-7 mx-auto">
<!--         {% if user.is_authenticated %}
        <button type="button" class="btn btn-outline-secondary"><a href="{% url 'news-edit' slug=detail.slug %}">Edit {{detail.title}}</a></button>
        <button type="button" class="btn btn-outline-secondary"><a href="{% url 'news-delete' slug=detail.slug %}">Hapus {{detail.title}}</a></button>
        <br><br>
        {% endif %} -->
        <div class="section-title">
          <h2>{{ detail.title }}</h2>
        </div>
        <img class="img-center" src="{{ detail.image.url }}"><hr>
        <p><b>Yogyakarta, {{ detail.date_posted|date:"d M Y" }}</b></p>
        <p>{{ detail.article | safe  }}</p>
      </div>
    </section>
{% endblock content %}
 
