{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs" data-aos="fade-up" data-aos-delay="300">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="{% url 'landingpage' %}">Kampoeng Cyber Yogyakarta</a></li>
            <li>Publikasi</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->

  <section class="inner-page align-items-center" data-aos="fade-up" data-aos-delay="300">
    <div class="container col-md-7 mx-auto">
          
      <div class="section-title">
        <h2>Publikasi Kampoeng</h2>
      </div>
        {% for post in publication_list %}  
        <div class="card-body">
          <h3 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
          <p><b>Yogyakarta, {{ post.date_posted|date:"d M Y" }}</b></p>
          <p class="card-text">{{ post.article | safe | truncatechars:280 }}</p>
          <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">Baca lebih lanjut &rarr;</a>
        </div>
        {% endfor %}

    </div>
  </section><!-- End Portfolio Section -->



  {% if publication_list.has_other_pages %}
    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if publication_list.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ publication_list.previous_page_number }}">Previous</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      {% if publication_list.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ publication_list.next_page_number }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock content %}
 





